/* You can add global styles to this file, and also import other style files */

.pcm-flex {
    display: flex;
}
.pcm-flex-space-around {
    justify-content: space-around;
}
.pcm-button:hover {
    cursor: pointer;
}